/*
 * CONTENTS
 * (Media queries at the end of each relevant section)
 *
 * COMPONENTS
 * Fonts
 * Html, Body
 * Headings
 * Wrappers
 * Buttons
 * Navbar
 * Footer
 *
 * INDEX
 *
 * ABOUT
 *
 * SHOP
 *
 * CONTACT
 *
 * Debugging
 */

/*----------Fonts---------*/

@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/*----------Html, Body---------*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: white;
    color: #314455;
    font-family: 'Inconsolata', monospace;
}

/*----------Wrappers--------*/

.section-wrapper {
    /*margin-bottom:50px; To leave space for footer{height:50px;}*/
    background-color: #dfdfdf;
    padding: 0%;
}

.container {
    padding: 0px;
}

.container-fluid {
   padding:0px;
}

@media (min-width: 576px) {
    .section-wrapper {
        padding-left: 9%;
        padding-right: 9%;
        padding-top: 3%;
        padding-bottom: 3%;
    }
}

@media (min-width: 2560px) {
    .section-wrapper {
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

/*----------Headings---------*/

h1 {
    text-align: center;
    width: 100%;
    background-color: #bfbfbf;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0.5rem;
    color: black;
    padding: 15px;
    margin: 0px;
}

h2 {
    font-family: "Lato", sans-serif;
    text-align: center;
    background-color: #cccccc;
    letter-spacing: 0.25rem;
    color: #4C4C4C;
}

@media (min-width: 576px) {
    h1 {
        background-color: white;
    }
    h2 {
        background-color: #F7F7F7;
    }
}

/*----------Buttons---------*/

.btn {
    color: black;
    background-color: #f2f2f2;
    border: 3px solid black;
}

button:hover {
    -webkit-box-shadow: 0px 0px 10px black;
            box-shadow: 0px 0px 10px black;
    opacity: 1;
}

/*----------NAVBAR---------*/

.navbar {
    background: none;
    border-color: transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    padding-bottom: 5%;
    padding-top: 5%;
}

.logo {
    border-radius: 50%;
    margin: 10px auto;
    max-width: 120px;
}

button:focus {
    outline: 5px auto grey;
}

.navbar-toggler {
    margin-top: 2%;
    background: white;
    color: black;
    outline: 5px auto grey;
}

.nav {
    margin-top: 1%;
}

.nav .nav-item a {
    color: #314455;
    font-size: 1.12em;
    padding-left: 10px;
    padding-right: 10px;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.nav .nav-item a:hover {
    color: black;
    font-weight: 700;
    letter-spacing: 2.1px;
}

.nav-link {
    padding-left: 0px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-collapse.collapse {
    display: none!important;
}

.collapse.show {
    display: block !important;
}

@media (min-width: 576px) {
    .page-container {
        margin-left: 0px;
    }
    .navbar-collapse.collapse {
        display: block !important;
    }
    .navbar {
        font-size: 1.60rem;
        background-color: white;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .logo {
        margin: 10px auto;
        max-height: 80%;
        max-width: 200px;
    }
}

/*----------FOOTER---------*/
.footer i.fa, i.fab {
    color: #8E8D8A;
}

.footer i.fa:hover, i.fab:hover {
    color: black;
}

.footer {
    /* height: 50px;*/
    background-color: white;
    color: #8E8D8A;
    /* padding-top: 3%;
    padding-bottom: 3%;*/
    padding: 5%;
}

.footercol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.fa, .fab {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .footer {
        /*height:70px;*/
        padding: 15px;
        font-size: 1.5rem;
    }
    .fa, .fab {
        font-size: 2rem;
    }
}
/*----------INDEX.HTML---------*/

#scrolling-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 12.5%;
    padding-bottom: 12.5%;
    /*white-space: nowrap;*/
}

.gallery-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    vertical-align: middle;
    max-width:300px;
    max-height:450px;
}

.gallery-col img {
    max-width: 160%;
    max-height: 160%;
    display: block;
}

.gallery-col a {
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.gallery-col a:hover {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
        transform: scale(1.04);
    -webkit-filter: blur(1.5px);
    filter: blur(1.5px);
    /*Blur effect on a:hover taken from https://themeforest.net/item/mono-creative-multipurpose-template/21490319*/
}

@media (min-width: 576px) {
    #scrolling-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow-x: initial;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 0px;
        justify-content: center !important;
    }
    .gallery-col {
        max-height: 240px;
        max-width:240px;
        margin-bottom: 15px;
    }
    .mobile-spacing {
        display: none;
    }
    #scrolling-wrapper .col-4 {
        display: none;
        /*Col-4 only needed on mobile devices to indicate the end of hoirzontal scrolling gallery. Display set to none so that col-4 will not interfere with centering the images within the row on viewports* larger than 576px*/
    }
}

@media (min-width: 768px) {
    .gallery-col {
        max-height: 225px;
        max-width:225px;
    }
    .gallery-col img {
        max-width: 120%;
        max-height: 120%;
    }
}

@media (min-width: 992px) {
    .gallery-col {
        max-height: 275px;
        max-width:275px;
    }
 
}

@media (min-width: 1440px) {
    .gallery-col {
        max-height: 300px;
        max-width:300px;
    }
}

@media (min-width: 2000px) {
    .gallery-col {
        max-width: 400px;
        /*max-width to prevent images not filling columns on 4k viewports */
        max-height: 400px;
    }
}

/*----------ABOUT---------*/

.about-paragraph {
    padding: 20px;
}

/*----------SHOP--------*/

.banner {
    background: black;
    /*black background to account for image within banner div resizing at different viewports*/
    height: 300px;
    background-image: url("../img/shop/banner-mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#banner {
    opacity: 0;
    /*  <img id="banner" alt="Banner"> provided in the banner div for screenreaders only */
}

.shop {
    background-color: white;
}

.shop-col {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    overflow-x: visible;
    overflow-y: visible;
}

.shop-col img {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 85%;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}

.shop-col img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.product-info {
    height: 140px;
    text-align: center;
    margin-top: 10px;
}

.product-info h4 {
    color: black;
    background-color: #E5E5E5;
}

.product-info .print {
    width: 100%;
    text-align: center;
}

.product-info .size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
    width: 150px;
    margin-top: 10px;
}

.product-info .size h5:hover {
    color: red;
    font-weight: bold;
}

.product-info h6 {
    margin-bottom: 10px;
}

@media (min-width: 576px) {
    .banner {
        background-image: url("../img/shop/banner-large.png");
    }
}

@media (min-width:1440px) {
    .product-info h4 {
        margin: auto;
        vertical-align: middle;
        width: 55%;
    }
}

@media (min-width: 2560px) {
    .product-info h4 {
        width: 40%;
    }
    .banner {
        min-height: 400px;
        background-image: url("../img/shop/banner-xlarge.png");
    }
}

/*----------CONTACT--------*/

.contact-info {
    text-align: center;
    margin-top: 2rem;
}

.center-form {
    margin-top: 25px;
    padding-bottom: 25px;
}

.contact {
    background: 0 0;
    background-color: white;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 1rem;
    padding: 15px 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
    font: 300 16px "Inconsolata", sans-serif;
    -webkit-transition: ease-out .2s;
    -o-transition: ease-out .2s;
    transition: ease-out .2s;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    /* HTML and CSS only file upload button from https://stackoverflow.com/questions/572768/styling-an-input-type-file-button */
    background-color: white;
    border: solid;
    color: black;
    margin-bottom: 1rem;
    padding: .375rem .75rem;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: block;
    text-decoration: none;
    cursor: pointer;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

label {
    margin-bottom: 0px;
}

.custom-file-upload:hover {
    -webkit-box-shadow: 0px 0px 10px grey;
            box-shadow: 0px 0px 10px grey;
    opacity: 1;
}

@media (min-width: 576px) {
    .custom-file-upload {
        display: inline-block;
        text-align: left;
    }
}

/*----------DEBUGGING---------*/

/*
CSS Debugging from https://blog.wernull.com/2013/04/debug-ghost-css-elements-causing-unwanted-scrolling/*/

/*
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } 
*/