/*-------------------------------------------- FONTS */

@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
/*-------------------------------------------- COLORS */

:root {
    --main-bg-color: #dfdfdf;
    --main-txt-color: #314455;
    --main-nav-txt-color: #314455;
    --main-footer-txt-color: #8E8D8A;
    /*
DARK THEME
    --main-bg-color: #373737;
    --main-txt-color: white;
    --main-nav-txt-color: white;
    --main-footer-txt-color: white;
*/
}

/*-------------------------------------------- NAVIGATION BAR */

.navbar {
    background: none;
    border-color: transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    flex-direction: column; 
    background-color:white;
}

.logo {
    border-radius: 50%;
    margin: 10px auto;
    max-width: 120px;
}

button:focus {
    outline: 5px auto grey;
}

.nav {
    margin-top: 1%;
}

.nav .nav-item a {
    color: var(--main-nav-text-color);
    font-size: 1.12em;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.nav .nav-item a:hover {
    color: black;
    font-weight: 1000;
    letter-spacing: 2.1px;
}

.dropdown-item {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
}

ul.dropdown-menu.show {
    padding: 0px;
    margin: 0px;
}

.dropdown-menu .dropdown-item .nav-link:hover {
    letter-spacing: 2px;
    font-weight: 1000;
    color: black;
}

.dropdown-menu .dropdown-item:active {
    background-color: grey;
}

.navbar-collapse.collapse {
    display: none!important;
}

.collapse.show {
    display: block !important;
}

@media (min-width: 576px) {
    .page-container {
        margin-left: 0px;
    }
    .navbar-collapse.collapse {
        display: block !important;
    }
    .navbar {
        font-size: 1.60rem;
        background-color: white;
        padding-top:20px;
        padding-bottom:30px;
    }
    .logo {
        margin: 10px auto;
        max-height: 80%;
        max-width: 200px;
    }
}

/*-------------------------------------------- FOOTER */

.footer-space {
    height: 100px;
    /*background-color:white;*/
}

.footer {
    /*43.5*/
    background-color: white;
    color: var(--main-footer-txt-color);
    padding-top: 3%;
    padding-bottom: 3%;
}

.footer ul li {
    display: inline-block;
}

.footer a {
    color: black;
}

.footercol {
    display: flex;
    align-items: center;
}

.text-right {
    font-size: 0.7rem;
}
@media (min-width: 768px) {
    .footer {
        
        padding-top: 1%;
        padding-bottom: 1%;
    }
}

/*-------------------------------------------- BODY */

body {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    font-family: 'Inconsolata', monospace;
}

.section-wrapper {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 7.5%;
    margin-bottom: 15%;
}

section h1 {
    text-align: center;
    visibility: hidden;
}

@media (min-width: 576px) {
    .section-wrapper {
        margin-top: 7.5%;
        margin-bottom: 10%;
    }
}
/*-------------------------------------------- INDEX.HTML GALLERY */
/*
.mobile-spacing {
    height: 30px;
}*/

.space-col {
    min-width: 50px;
}

#scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: auto;
    white-space: nowrap;
}

.gallery-col {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 450px;
    overflow-x: hidden;
    vertical-align: middle;
}

.gallery-col img {
    max-width: 160%;
    max-height: 160%;
    display: block;
}

/*
.hover-shadow {
    max-width: 100%;
    max-height: 100%;
}*/

@media (min-width: 576px) {
    #scrolling-wrapper {
        display: flex;
        overflow-x: initial;
        flex-wrap: wrap;
    }
    .gallery-col {
        max-height: 375px;
        margin-bottom: 15px;
    }
    .mobile-spacing {
        display: none;
    }
}

@media (min-width: 768px) {
    .gallery-col {
        max-height: 325px;
    }
    .gallery-col img {
        max-width: 200%;
        max-height: 200%;
    }
}

@media (min-width: 992px) {
    .gallery-col {
        max-height: 375px;
    }
}

/*-------------------------------------------- SHOP.HTML */

.products {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15%;
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-top: 2%;
    margin-top: 5%;
    margin-bottom: 20%;
}

.product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 40%;
    flex-direction: column;
    display: flex;
    /* so child elements can use flexbox stuff too! */
    align-content: center;
}

.product-image img {
    max-width: 100%;
    /*   max-height: 600px;*/
}

.shop {
    margin-bottom: 40%;
}

.shop-col {
    padding-top: 5%;
    padding-bottom: 5%;
    max-height:800px;
    /*background-color: #8E8D8A;*/
}

h4 {
    font-weight: 600;
}
/*
p {
    font-size: 12px;
    margin-top: 5px;
}*/

.price {
    font-size: 30px;
    margin: 0 auto;
    color: #333;
}

.right {
    /*
    float:right;
    border-bottom: 2px solid #4B8E4B;*/
}

.thumbnail {
    opacity: 1.00;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.thumbnail:hover {
    opacity: 1.00;
    box-shadow: 0px 0px 10px #4bc6ff;
}

.line {
    margin-bottom: 5px;
}

.shop img {
    object-fit: contain;
    width: 100%;
}

/**/

/*
.product-info {
    margin-top: auto;
    align-self: center;
}
.product-price{
    position:absolute;
    right:15px;
   bottom:25px;
}

.product-image{
  
  overflow:hidden;
}

.product-info{
  margin-top:
  30px;
}
button{
    position:absolute;
    right:0;
    bottom:0;
}
*/

/**/

.products {}

.product-price {
    padding: 1px 7px 2px;
}

h5 {
    padding: 1px 7px 2px;
}

.products button {
    position: absolute;
    right: 0px;
    bottom: 10px;
}

.product-info {
    position: relative;
    width: 100%;
    height: 60px;
}

.products img {}

/**/

.shop-col {
    overflow-x: visible;
    overflow-y: visible;
}

@media (min-width: 576px) {
    .shop {
        margin-bottom: 30%;
    }
    .shop .row {
        justify-content: space-between;
    }
    .section-wrapper {
        margin-left: 9%;
        margin-right: 9%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 770px) {
    .right {
        float: left;
        width: 100%;
    }
    .shop {
        margin-bottom: 20%;
    }
}

@media (min-width: 992px) {
    .shop {
        margin-bottom: 10%;
    }
}

/*-------------------------------------------- CONTACT.HTML */

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: .375rem .75rem;
    height: calc(1.5em + .75rem +2px);
    text-align: left;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.custom-file-upload:hover {
    box-shadow: 0px 0px 10px #4bc6ff;
    opacity: 1;
}

/*-------------------------------------------- LANDING.HTML*/

.landing-container {
    background-image: url("../img/backgrounds/background-02.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
    font-size: 25px;
}

.landing-logo {
    border-radius: 50%;
}

.logo-container {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.landing-container .nav-link {
    color: white;
}

.landing-container .dropdown-item {
    background: black;
}