/*
.modal-content {
    width: 100%;
    height: auto;
}

#gallery img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.carousel-item img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

@media (min-width: 576px) {
    .carousel-item img {
        height: 50%;
    }
}

@media (min-width: 768px) {
    #gallery img {
        height: 100%;
    }
}

@media (min-width: 992px) {
    .carousel-item img {
        height: 50%;
    }
}*/