/*-------------------------------------------- COLORS */


/*-------------------------------------------- NAVIGATION BAR */

#logo {
    display: block;
    margin: 10px auto;
    height: 200px;
    width: 300px;
}

.navbar {
    flex-direction: column;
}

.container-fluid {}

.gallery-wrapper {
    margin-left: 9%;
    margin-right: 9%;
}


/*-------------------------------------------- GALLERY */

.imagerow {
    margin-bottom: 5%;
}

.hover-shadow {
    max-width: 100%;
    max-height: 100%;
}

.gallery-container {
    justify-content: center;
    /*  
  margin-left: 9%;
    margin-right: 9%
    */
}

.modal-dialog {
    flex: 1 1 1px;
    max-width: 983px;
    max-height: 983px;
}

.modal-content {
    width: 100%;
    height: auto;
}

#gallery img {
    max-width: 100%;
    /*
    height: auto;
    object-fit: contain;
    */
}

.carousel-item img {
    width: 70%;
    height: auto;
    object-fit: contain;
}

@media (min-width: 576px) {
    .carousel-item img {
        height: 70%;
    }
}

@media (min-width: 768px) {
    #gallery img {
        height: 100%;
    }
}

@media (min-width: 992px) {
    .carousel-item img {
        height: 60%;
    }
}


/*
.mod {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 0!important
}/*


/*-------------------------------------------- FOOTER */

.footer {
    background-color: white;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.footer ul li {
    display: inline-block;
}

.footer a {
    color: black;
}


/*
li{
    display:inline-block;
    float:none;
}

ul{
    width:100%;
    text-align:center;
}
*/